<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
    </div>
    <!-- search form -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>

      <li class="treeview active">
        <a href="#">
          <i class="fa fa-video-camera"></i>
          <span>SmartCam</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/"><i class="fa fa-user"></i> Home</a></li>
          <li><a href="/report"><i class="fa fa-bookmark-o"></i> Report</a></li>
          <li><a href="/setting"><i class="fa fa-wrench"></i> Setting</a></li>
          <li><a href="/setwifi"><i class="fa fa-wifi"></i> WiFi</a></li>
        </ul>
      </li>

      <!-- <li class="treeview {{empactive}}">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Employee</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin_data"><i class="fa fa-user-secret"></i> Admin Database</a></li>
          <li><a href="/user_data"><i class="fa fa-user"></i> User Database</a></li>
        </ul>
      </li> -->

      <!-- <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>รายงานสารสนเทศ</span></a></li> -->
      
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>