{% extends "index.html" %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<style>
.containers {
  /* display: block; */
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarks {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmarks {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmarks {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarks:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containers input:checked ~ .checkmarks:after {
  display: block;
}

/* Style the checkmark/indicator */
.containers .checkmarks:after {
  left: 6px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>

    <!-- Main content -->
    <section class="content" style="max-width: 100%">
        <div class="box box-primary" style="margin-top: 10;">
            <div class="callout callout-danger">
                
                <h4>Warning!</h4>
                <p>The program automatically reset when the settings are changed.</p>
            </div>

            <div class="box-body"  style="margin-top:10px">
                <form class="form-horizontal" method="POST" action="/setting">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="camset">Camera Setting:</label>
                        <div class="col-sm-10">
                            {% if setting_value[0][1] == 0 %}
                            <input   type="radio" name="cam_set" value="0" checked onclick="readdelect()" > USB Cam or Picam
                            {% else %}
                            <input   type="radio" name="cam_set" value="0"  onclick="readdelect()"> USB Cam or Picam
                            {% endif %}
                  
                            <!-- {% if setting_value[0][1] == 1 %}
                            <input  type="radio" name="cam_set" value="1" checked onclick="readdelect()"> Picam
                            {% else %}
                            <input  type="radio" name="cam_set" value="1"  onclick="readdelect()"> Picam
                            {% endif %} -->
                          </p>
                            {% if setting_value[0][1] == 3 %}
                            <input   type="radio" name="cam_set" value="2" checked onclick="readthis()"> IP camera( RTSP protocol)
                            {% else %}
                            <input   type="radio" name="cam_set" value="2"  onclick="readthis()"> IP camera( RTSP protocol)
                            {% endif %}
                            <input  type="text" name="Rtsp_text" class="form-control" id="rtsptext" value="{{setting_value[0][2]}}" readonly>
                        </div>
                    </div>

                    <div class="form-group " style="margin-bottom:10px">
                        <label class="col-sm-2 control-label" for="camres">Camera Resolution:</label>
                        <div class="col-sm-10">
                            {% if setting_value[0][4] == '360' %}
                            <input type="radio" name="cam_res" value="360" checked > 360P
                            {% else %}
                            <input type="radio" name="cam_res" value="360" > 360P
                            {% endif %}
                  
                            {% if setting_value[0][4] == '480' %}
                            <input type="radio" name="cam_res" value="480" checked> 480P
                            {% else %}
                            <input type="radio" name="cam_res" value="480" > 480P
                            {% endif %}
                  
                            {% if setting_value[0][4] == '720' %}
                            <input type="radio" name="cam_res" value="720" checked > 720P
                            {% else %}
                            <input type="radio" name="cam_res" value="720" > 720P
                            {% endif %}
                  
                            {% if setting_value[0][4] == '1080' %}
                            <input type="radio" name="cam_res" value="1080" checked> 1080P
                            {% else %}
                            <input type="radio" name="cam_res" value="1080" > 1080P
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group " style="margin-bottom:10px">
                        <label class="col-sm-2 control-label" for="Accuracy">Thershold Accuracy:</label>
                        <div class="col-sm-10">
                            <input  type="number" name="cam_acc" value="{{setting_value[0][3]}}"  min='1' max='100'> %
                        </div>
                    </div>
                    
                    <div class="form-group " style="margin-bottom:10px">
                        <label class="col-sm-2 control-label" for="DETECTS">Detects Setting:</label>
                        <div class="col-sm-10">
                            <table class="table table-bordered table-hover">
                                    <tr>
                                      <td>
                                      <img src="{{ url_for('static', filename='icon/user.png') }}" alt="" width="50vw" >
                                      <input type="checkbox" name='person' value="1" {{select_class[0]}}><label style="margin-left: 5px;"> Person</label>
                                    </td>
                                    <td>
                                      <img src="{{ url_for('static', filename='icon/cat.png') }}" alt="" width="50vw" >
                                      <input type="checkbox" name='cat' value="1" {{select_class[1]}}><label style="margin-left: 5px;">Cat</label>
                                    </td>
                                    <td>
                                      <img src="{{ url_for('static', filename='icon/dog.png') }}" alt="" width="50vw" >
                                      <input type="checkbox" name='dog' value="1" {{select_class[2]}}><label style="margin-left: 5px;">Dog</label>
                                    </td>
                                    <td>
                                      <img src="{{ url_for('static', filename='icon/crow.png') }}" alt="" width="50vw" >
                                      <input type="checkbox" name='brid' value="1" {{select_class[3]}}><label style="margin-left: 5px;">Brid</label>
                                    </td>
                                    </tr>
                                  <tr>
                                    <td>
                                    <img src="{{ url_for('static', filename='icon/car.png') }}" alt="" width="50vw" >
                                    <input type="checkbox" name='car' value="1" {{select_class[4]}}><label style="margin-left: 5px;">Car</label>
                                  </td>
                                  <td>
                                    <img src="{{ url_for('static', filename='icon/motorcy.png') }}" alt="" width="50vw" >
                                    <input type="checkbox" name='motorcycle' value="1" {{select_class[5]}}><label style="margin-left: 5px;">Motorcycle</label>
                                  </td>
                                  <td>
                                    <img src="{{ url_for('static', filename='icon/bicycle.png') }}" alt="" width="50vw" >
                                    <input type="checkbox" name='bicycle' value="1" {{select_class[6]}}><label style="margin-left: 5px;">Bicycle</label>
                                  </td>
                                  <td>
                                    <img src="{{ url_for('static', filename='icon/truck.png') }}" alt="" width="50vw" >
                                    <input type="checkbox" name='truck' value="1" {{select_class[7]}}><label style="margin-left: 5px;">Truck</label>
                                  </td>
                                  </tr>
                                </div>
                              </table>
                    </div>


                    <div class="form-group " style="margin-bottom:10px">
                        <label class="col-sm-2 control-label" for="Line">LINE Notification Token:</label>
                        <div class="col-sm-10">
                            <input type="text" name="line_alert" class="form-control" value="{{setting_value[0][5]}}">
                        </div>
                    </div>
                    
                    <div class="form-group " style="margin-bottom:10px">
                      <label class="col-sm-2 control-label" for="Line">LINE Alert Timer:</label>
                      <div class="col-sm-10">
                        <input id="allday" style="height: 20px;width: 20px;" type="checkbox" onchange="check()" value="{{allday}}" {{daywork_check[10]}}><label style="margin-left: 5px;">Allday</label>

                        <label class="containers">Monday
                          <input id="monday" type="checkbox" name='Monday' value="1" {{daywork_check[0]}} >
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Tuesday
                          <input id="tuesday" type="checkbox" name='Tuesday' value="1" {{daywork_check[1]}}>
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Wednesday
                          <input id="wednesday" type="checkbox" name='Wednesday' value="1" {{daywork_check[2]}}>
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Thursday
                          <input id="thursday" type="checkbox" name='Thursday' value="1" {{daywork_check[3]}}>
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Friday
                          <input id="friday" type="checkbox" name='Friday' value="1" {{daywork_check[4]}}>
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Saturday
                          <input id="saturday" type="checkbox" name='Saturday' value="1" {{daywork_check[5]}}>
                          <span class="checkmarks"></span>
                        </label>
                        <label class="containers">Sunday
                          <input id="sunday" type="checkbox" name='Sunday' value="1" {{daywork_check[6]}}>
                          <span class="checkmarks"></span>
                        </label>


                        <!-- <input id="monday" class="flat-red" type="checkbox" name='Monday' value="1" {{daywork_check[0]}} ><label style="margin-left: 5px;">Monday</label> -->
                        <!-- <input id="tuesday" class="flat-red" type="checkbox" name='Tuesday' value="1" {{daywork_check[1]}} ><label style="margin-left: 5px;">Tuesday</label>
                        <input id="wednesday" class="flat-red" type="checkbox" name='Wednesday' value="1" {{daywork_check[2]}} ><label style="margin-left: 5px;">Wednesday</label>
                        <input id="thursday" class="flat-red" type="checkbox" name='Thursday' value="1" {{daywork_check[3]}} ><label style="margin-left: 5px;">Thursday</label>
                        <input id="friday" class="flat-red" type="checkbox" name='Friday' value="1" {{daywork_check[4]}} ><label style="margin-left: 5px;">Friday</label>
                        <input id="saturday" class="flat-red" type="checkbox" name='Saturday' value="1" {{daywork_check[5]}} ><label style="margin-left: 5px;">Saturday</label>
                        <input id="sunday" class="flat-red" type="checkbox" name='Sunday' value="1" {{daywork_check[6]}} ><label style="margin-left: 5px;">Sunday</label> -->
                      </div>
                      <label class="col-sm-2 control-label" for="Line"></label>
                      <div class="col-sm-1" style="margin-top: 5px;">
                        <input style="width: 20px;height: 20px;" type="checkbox" name="alltime" id="alltime" value="{{alltime}}" onchange="checktime()"><label style="margin-left: 5px;">AllTime</label>
                        <input type="hidden" id="hiden_time" value="{{daywork_check[9]}}">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control timepicker" name="st_time" value="{{daywork_check[7]}}" id="time1">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control timepicker" name="en_time" value="{{daywork_check[8]}}" id="time2">
                      </div>
                      <script>
                              //ทำ alltime
                              var alltime_1 = document.getElementById("hiden_time").value;
                              //console.log(alltime_1);
                              if(alltime_1 == "checked"){
                                timesdis()
                                document.getElementById("alltime").checked = true;
                              }
                              
                              function checktime(){
                                var alltime = document.getElementById("alltime").value;
                                console.log(alltime);
                                if(alltime == 0){
                                  document.getElementById("alltime").value = 1;
                                  timesdis()
                                }else if(alltime == 1){
                                  document.getElementById("alltime").value = 0;
                                  timesable()
                                }
                              }

                              function timesdis(){
                                document.getElementById("time1").disabled = true;
                                document.getElementById("time2").disabled = true;
                              }
                              function timesable(){
                                document.getElementById("time1").disabled = false;
                                document.getElementById("time2").disabled = false;
                              }



                              function check(){
                                var allday = document.getElementById("allday").value;
                                // console.log(allday);
                                if(allday == 0){
                                  document.getElementById("allday").value = 1;
                                  all01()
                                }else if(allday == 1){
                                  document.getElementById("allday").value = 0;
                                  all00()
                                }
                              }

                              function all01(){
                                  document.getElementById("monday").checked = true;
                                  document.getElementById("tuesday").checked = true;
                                  document.getElementById("wednesday").checked = true;
                                  document.getElementById("thursday").checked = true;
                                  document.getElementById("friday").checked = true;
                                  document.getElementById("saturday").checked = true;
                                  document.getElementById("sunday").checked = true;
                              }
                              function all00(){
                                document.getElementById("monday").checked = false;
                                  document.getElementById("tuesday").checked = false;
                                  document.getElementById("wednesday").checked = false;
                                  document.getElementById("thursday").checked = false;
                                  document.getElementById("friday").checked = false;
                                  document.getElementById("saturday").checked = false;
                                  document.getElementById("sunday").checked = false;
                              }
                              
                    </script>
                  </div>

                    <div class="form-group " style="margin-bottom:10px">
                      <label class="col-sm-2 control-label" for="Line">Hardware accelerator:</label>
                      <div class="col-sm-10">
                        <!-- <img src="{{ url_for('static', filename='icon/TF.png') }}" alt="" width="50vw" >
                        {% if setting_value[0][6] == 0 %}
                        <input class="flat-red" type="radio" name='cnn' value="0" checked><label style="margin-left: 5px;">TensorflowLite</label>
                        {% else %}
                        <input class="flat-red" type="radio" name='cnn' value="0" ><label style="margin-left: 5px;">TensorflowLite</label>
                        {% endif %} -->
                        <input class="flat-red" type="checkbox" name='cnn' value="1" {{Cnn}}><label style="margin-left: 5px;">Intel Neural Compute Stick</label>
                        <img src="{{ url_for('static', filename='icon/intel.png') }}" alt="" width="50vw" >
                      </div>
                  </div>
            

            </div>
            <div class="box-footer" style="margin-top:50px">
                <input type="submit" value="Submit" class="btn btn-primary pull-right" >
                <a href="/" type="Button" class="btn btn-default pull-right" style="margin-right:10px" >Cancel</a>
            </div>
        </form>
        </div>
    </section>
    <!-- /.content -->

</div>
<script>
    function readthis() { 
      document.getElementById("rtsptext").readOnly = false;
    }
    function readdelect() { 
      document.getElementById("rtsptext").readOnly = true;
    }
</script>
{% endblock %}